*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
/* main background */
#main_container{
    background: url(../assets/background/bganimation.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
#main_container{
    padding: 0;
    margin: 0;
}
/* cover on background */
#bg_top_cover{
    background: rgba(15, 26, 39, 0.2) linear-gradient(to top, rgb(15, 26, 39), rgba(15, 26, 39), rgba(15, 26, 39, 0.938) ,rgba(15, 26, 39, 0.800) ,rgba(15, 26, 39, 0.625));
    height: 100vh;
}